packages:
 yum:
  fuse: []
option_settings:
  - option_name: RDS_HOSTNAME
    value: aahdxafkx8hr44.cpmmq0ugoybf.us-west-2.rds.amazonaws.com
  - option_name: RDS_PORT
    value: 3306
  - option_name: RDS_DB_NAME
    value: ebdb
  - option_name: RDS_USERNAME
    value: czbiohub
  - option_name: RDS_PASSWORD
    value: fakepassword
